.container{
    position: absolute;
    margin: 100px;
    
}

.discounts{
    padding-top:30px;
}

.slider{
    margin: 40px 0px 40px !important;
    
}

.inputvalue input {
    height: 40px;
    padding-left: 10px;
    margin-left:15px; 
}.inputvalue{
    font-size: 20px;
}
.resultfee{
    font-size: 20px;
    margin: 25px 0 0px 0px;
}
.radio_select input{
    height: 20px;
    width: 20px;
    line-height: normal;
}
.radio_select label{
    font-size: 18px;
    padding-left: 10px;
    vertical-align: middle;
}

.card-body-radio{
    padding: 20px;
}